# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules
# testing
/coverage
# production
/build
/dist
# idea
.idea/**/workspace.xml
*.xml
*.iml
modules.xml
.idea/misc.xml
*.ipr
inspectionProfiles
idea
.idea
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# env
.env
./*.env
*.env
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea
.idea/
*.idea
idea/
idea
.vscode
.vscode/
package-lock.json