* {
  box-sizing: border-box;
}

#bg {
  background: url('img/bg.jpg') center center no-repeat;
  height: 0px;
  max-height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

#bg-text {
  opacity: 0;
}

.card-title {
  font-size: 50px;
  font-weight: bold;
}

#header {
  position: fixed;
  width: 100%;
  opacity: 0;
}

#general-info-block {
  min-height: 200px;
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 25px;
}

.info-text {
  text-align: center;
  font-size: 20px;
}


.general-info-card {
  width: 50%;
}

.row {
  margin-top: 60px;
}

#col-img-1 {
  background: url("img/barbershop.png") center center no-repeat;
  background-size: contain;
  margin-top: 10%;
  margin-left: 20%;
  width: 80%;
  height: 80%;
  opacity: 0;
}

#first-info {
  margin-left: -100px;
  opacity: 0;
}

#col-img-2 {
  background: url("img/scissors.png") center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#second-info {
  margin-left: 100px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  #general-info-block {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .card-title {
    font-size: 30px;
  }

  #general-info-block {
    width: 80%;
  }

  .col {
    display: none;
  }

  .col-7 {
    max-width: 100% !important;
    flex: none !important;
  }
}